$font-stack: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$primary-color: rgb(58, 112, 94);
$background-color: rgb(216, 238, 238);
$secondary-color: #fff;
$more-space: 2.5rem;
$less-space: 1.5rem;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  a{
    color: inherit;
  }

body {
    font: 100% $font-stack;
    background-color: $background-color;
    height: 100vh;
  }