$font-stack: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$primary-color: rgb(58, 112, 94);
$background-color: rgb(216, 238, 238);
$secondary-color: #fff;
$more-space: 2.5rem;
$less-space: 1.5rem;
$border-radius: 10px;


@media (max-width: 900px) {
    .title-icons {
        display: none; 
        opacity: 0;
      }
  
    .about-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
  
    .project-item{
        flex-direction: column;
    }
  
    .project-item img {
        width: 300px;
        margin: 0.6rem 1.2rem;
    }
  
    .project-text{
        padding: $more-space;
    }
  }
  
  @media (max-width: 635px){
  
    header nav .list-nav{
      display: none;
    }
  
    .title{
      font-size: 0.8rem;
      text-align: center;
    }
  
    .title-h1{
      text-align: center;
    }
  
    .about-info-skills{
      margin: 0 auto;
      padding-left: 4.5rem;
      width: 100%;
    }
  
    footer{
      flex-direction: column;
      text-align: center;
    }
  
    .footer-text{
      width: 100%;
    }
   
  }